<h3>Input URL :</h3>
<form action="/" method="POST">
  <div class="input-group">
    <input type="url" class="form-control" name="inputURL" id="inputURL" placeholder="Put URL here"
      aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
  </div>
</form>